[Unit]
Description=rathole reverse proxy
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
Type=simple
ExecStart=/home/moku/.local/bin/rathole /home/moku/server.toml
Restart=always
# workaround rathole random hang issue
RuntimeMaxSec=1800

# run as my normal user
User=moku
Group=moku

[Install]
WantedBy=default.target
