[Unit]
Description=rustdesk self-host server
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
Type=simple
ExecStart=/home/moku/rustdesk-server/amd64/hbbs
WorkingDirectory=/home/moku/rustdesk-server/amd64
Restart=always

# run as my normal user
User=moku
Group=moku

[Install]
WantedBy=default.target
